img {
  width: 300px;
  height: 300px;
}

.region-parent {
  text-align: center;
  transition: all 0.3s ease;
  border: 1px solid #cccc;
  margin: 50px;
}

.region-parent:hover {
  border: 1px solid #f60707;
}

.progress {
  margin: 20px auto;
}